@model TraineeResultDegreeStatusViewModel
@{
    ViewData["Title"] = "Result";
}

<h1 class="@Model.StyleColor">Trainee Information</h1>
<h3>@Model.TraineeName</h3>
<h3>@Model.CourseName</h3>
<h3>@Model.Degree</h3>
<h3>@Model.Status</h3>
